.booking-overview {
    padding: 20px;
    background-color: #f7faff;
  }


  .trip-table {
    width: 100%;
  }
 
  .mat-header-cell, .mat-cell {
    padding: 16px;
    text-align: left;
  }
 
  .mat-header-cell {
    font-weight: bold;
  }
 
  .mat-elevation-z8 {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  }
 



