<div class="booking-request-container">
    <h2>Current Trip</h2>
    <mat-card class="booking-card">
        <mat-card-content>
            <div *ngIf="trip; else noBooking" class="trip-details">
                <div class="detail-item">
                    <mat-icon>person</mat-icon>
                    <div>
                        <span class="detail-label">Client Name:</span>
                        <span class="detail-value">{{ trip.userDto.name }}</span>
                    </div>
                </div>
                <div class="detail-item">
                    <mat-icon>phone</mat-icon>
                    <div>
                        <span class="detail-label">Mobile Number:</span>
                        <span class="detail-value">{{ trip.userDto.mobileNumber }}</span>
                    </div>
                </div>
                <div class="detail-item">
                    <mat-icon>location_on</mat-icon>
                    <div>
                        <span class="detail-label">Pickup Location:</span>
                        <span class="detail-value">{{ pickUpLocation }}</span>
                    </div>
                </div>
                <div class="detail-item">
                    <mat-icon>location_on</mat-icon>
                    <div>
                        <span class="detail-label">Dropoff Location:</span>
                        <span class="detail-value">{{dropOffLocation }}</span>
                    </div>
                </div>
                <div class="detail-item">
                    <mat-icon>attach_money</mat-icon>
                    <div>
                        <span class="detail-label">Payment:</span>
                        <span class="detail-value">LKR {{ trip.paymentAmount | money}}</span>
                    </div>
                </div>
                <div class="detail-item">
                    <mat-icon>directions</mat-icon>
                    <div>
                        <span class="detail-label">Directions:</span>
                        <a [href]="getGoogleMapsUrl()" target="_blank" class="map-link">View Route on Google Maps</a>
                    </div>
                </div>

                <div *ngIf="trip.userDto.userStatus===UserRoles.GUEST" class="button-container">
                    <button mat-raised-button class="end-trip-button" (click)="endTrip()">End Trip</button>
                </div>
            </div>
            <!-- No Booking Message -->
            <ng-template #noBooking>
                <div class="empty-booking-message">
                    <mat-icon>info</mat-icon>
                    <p>No current trip available.</p>
                </div>
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>