.booking-request-container {
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #f7faff;
    color: #333;
}

.status-filter {
    width: 100%;
    margin-bottom: 20px;
  }

.booking-card {
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    color: #007bff;
}

mat-card-title {
    font-weight: bold;
    font-size: 1.5rem;
}

mat-card-content {
    padding: 20px;
}

.trip-details {
    display: flex;
    flex-direction: column;
}

.detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;

}

.detail-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
}

.detail-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

mat-icon {
    font-size: 24px;
    color: #007bff;
    margin-right: 10px;
}

.detail-label {
    font-weight: bold;
    color: #333;
    margin-right: 45px;
}

.map-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.map-link:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.map-link:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}


mat-icon {
    color: #007bff;
    margin-right: 10px;
}

.detail-label {
    font-weight: bold;
    color: #333;
}

.detail-value {
    color: #555;
}

button {
    margin-top: 10px;
    color: #fff;
    background-color: #007bff;
}

button:hover {
    background-color: #0056b3;
}

button.end-trip-button {
    margin-top: 20px;
    width: 100%;
    color: #fff;
    background-color: #fbc02d;
    transition: background-color 0.3s ease;
}

button.end-trip-button:hover {
    background-color: #0056b3;
}

.empty-booking-message mat-icon {
    margin-bottom: 10px;
    color: #999;
}