<header>
    <div class="header-content">
        <div class="logo">City Taxi Reservation</div>
        <div class="header-icons">
            <button class="notification-button">
                <i class="fas fa-bell"></i>
            </button>
            <button (click)="logout()"  class="logout-button">
                <i class="fas fa-sign-out-alt"></i>
            </button>
        </div>
    </div>
</header>

<div class="dashboard-container">
    <!-- Navigation Bar -->
    <nav class="dashboard-nav">
        <button mat-button routerLink="dashboard" routerLinkActive="active-nav-item">Dashboard</button>
        <button mat-button routerLink="user-management" routerLinkActive="active-nav-item">User Management</button>
        <button mat-button routerLink="car-management" routerLinkActive="active-nav-item">Car Management</button>
        <button mat-button routerLink="driver-management" routerLinkActive="active-nav-item">Driver Management</button>
        <button mat-button routerLink="booking-overview" routerLinkActive="active-nav-item">Ongoing Trips</button>
        <button mat-button routerLink="reports" routerLinkActive="active-nav-item">Reports</button>
        <button mat-button class="logout-button" routerLink="system-settings" routerLinkActive="active-nav-item">Settings</button>
    </nav>

    <router-outlet></router-outlet>

</div>