<div class="booking-history-container">
    <h2>Booking History</h2>

    <mat-accordion>
        <!-- Ongoing Trips Section -->
        <mat-expansion-panel *ngFor="let trip of trips"
            [ngClass]="trip.status===ReservationStatus.START  ? 'ongoing-trip' : 'completed-trip'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="trip-header">
                        <span *ngIf="trip.status===ReservationStatus.START" class="ongoing">Ongoing Trip</span>
                        <span *ngIf="trip.status===ReservationStatus.END" class="complete">Completed Trip</span>
                    </div>
                </mat-panel-title>
                <mat-panel-description> Amount: LKR {{ trip.amount | money}} </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="trip-details">
                <img [src]="trip.driverImage" alt="Driver Image" class="driver-image" />
                <p *ngIf="trip.rating"><strong>Driver:</strong><mat-icon
                        *ngFor="let star of getDriverStars(trip.rating.score)"
                        [ngClass]="star === 'filled' ? 'star-filled' : 'star-outline'">
                        {{ star === 'filled' ? 'star' : 'star_border' }}
                    </mat-icon>({{trip.rating.review}})</p>
                <p><strong>Driver Name:</strong> {{ trip.driverName }}</p>
                <p><strong>Reserved Time:</strong> {{ trip.reveredTime | date:'short' }}</p>
                <p><strong>Pickup:</strong> {{ getPickUpLocation(trip) | async }}</p>
                <p><strong>Drop-off:</strong> {{ getDropOffLocation(trip) | async }}</p>
                <p><strong>Status:</strong> {{ trip.status }}</p>
                <button *ngIf="trip.status===ReservationStatus.START" mat-raised-button color="accent"
                    (click)="payForTrip(trip,rateDriverModal)">Pay</button>
                <button *ngIf="!trip.rating" mat-raised-button color="accent"
                    (click)="addReview(trip,rateDriverModal)">Add Review</button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>


</div>

<!-- Rating Modal -->
<ng-template #rateDriverModal>
    <div class="rate-driver-modal">
        <h3>Rate Your Driver</h3>
        <img [src]="driverImage" alt="Driver Image" class="modal-driver-image" />
        <p><strong>Name:</strong> {{ driverName }}</p>
        <div class="star-rating">
            <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]" (click)="rateDriver(star)"
                [ngClass]="selectedRating >= star ? 'star-filled' : 'star-outline'">
                {{ selectedRating >= star ? 'star' : 'star_border' }}
            </mat-icon>
        </div>
        <textarea placeholder="Write a review..." [(ngModel)]="reviewText" rows="4"></textarea>
        <button mat-raised-button color="primary" (click)="submitReview()">Submit Review</button>
    </div>
</ng-template>