<div class="user-management-container">
    <h2>User Management</h2>


    <!-- Search Box and Button -->
    <div class="search-container">
        <mat-form-field appearance="outline" class="search-form-field">
            <mat-label>Search Users</mat-label>
            <input matInput [(ngModel)]="searchTerm" placeholder="Search by name">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="search()" class="search-button">Search</button>
    </div>


    <table mat-table [dataSource]="users" class="mat-elevation-z8 user-table">
        <!-- User ID Column -->
        <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
            <td mat-cell *matCellDef="let user"> {{ user.userId }} </td>
        </ng-container>


        <!-- Username Column -->
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let user"> {{ user.username }} </td>
        </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let user"> {{ user.name }} </td>
        </ng-container>


        <!-- Mobile Column -->
        <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
            <td mat-cell *matCellDef="let user"> {{ user.telephone }} </td>
        </ng-container>


        <!-- Email Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
            <td mat-cell *matCellDef="let user"> {{ user.address }} </td>
        </ng-container>


        <!-- Last Login Date Column -->
        <ng-container matColumnDef="nic">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> NIC </th>
            <td mat-cell *matCellDef="let user"> {{ user.nic  }} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let user">
                <button mat-icon-button color="primary" >
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteUser(user.userId)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>



