@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align,
.mat-mdc-form-field-hint-wrapper {
    display: none !important;
}

.cdk-global-scrollblock {
    overflow-y: unset;
}

