<div class="customer-dashboard">
    <!-- Overview Section -->
    <div class="dashboard-overview">
        <h2>Dashboard Overview</h2>
        <p class="overview-description">Quickly manage your status and view your earnings. This dashboard helps you stay on top of your schedule and make the most out of every ride.</p>

        <div class="overview-summary">
            <div class="overview-card">
                <mat-icon color="primary">{{currentStatus==='Available'? 'event_available':'event_busy'}}</mat-icon>
                <h3>Current Status: {{ currentStatus }}</h3>
                <mat-slide-toggle [(ngModel)]="status" (change)="onStatusChange($event)">
                    Toggle Status: Available / Busy
                </mat-slide-toggle>
            </div>

            <div class="overview-card">
                <mat-icon color="primary">attach_money</mat-icon>
                <h3>Earnings Summary</h3>
                <ul>
                    <p><strong>Today's Earnings:</strong> LKR {{ today | money}}</p>
                    <p><strong>This Week's Earnings:</strong> LKR {{ week | money}}</p>
                    <p><strong>This Month's Earnings:</strong> LKR {{ month | money}}</p>
                </ul>
            </div>
        </div>
    </div>

    <!-- Quick Actions Section -->
    <div class="quick-actions">
        <h3>Quick Actions</h3>
        <div class="action-buttons">
           
            <button routerLink="../current-trip" mat-fab extended>
                <mat-icon>schedule</mat-icon> View Current Trip
            </button>
            <button routerLink="../trip-history"  mat-fab extended>
                <mat-icon>history</mat-icon> History
            </button>
            <button routerLink="../settings"  mat-fab extended>
                <mat-icon>settings</mat-icon> Manage Account Settings
            </button>
        </div>
    </div>
</div>