<header>
    <div class="header-content">
        <div class="logo">Mega City Cab Reservation</div>
    </div>
</header>
<div class="signup-container">

    <button mat-button color="warn" routerLink="/" class="back-button">
        <mat-icon>arrow_back</mat-icon>
        Back
    </button>

    <h2>Customer Signup</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="address" formControlName="address" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="nic" formControlName="nic" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="telephone" formControlName="telephone" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="username" formControlName="username" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Signup</button>
    </form>

    <p>Already have an account? <a routerLink="/login">Login here</a></p>
</div>